@media (min-width: 1150px) and (max-width: 1900px) {   
    .featured-works{
        text-align: center;
        background-color: rgb(255, 255, 255);
    }

    .featured-works__wrapper {
        padding: 75px 0px;
        margin-bottom: 50px;
    }
    
    .featured-works__text-container{
        margin-top: 50px;
        position: relative;
    }      
    
    .featured-works__img-container{
        display: grid;
        grid-template-columns: repeat(3, 0.2fr);
        justify-content: center;
        grid-column-gap: 15px;
        grid-row-gap: 13px;
        margin-top: 120px;
    }
    .popupImg{
        width: 450px;
        height: 450px;
    }

    .featured-works__text-montserrat{
        letter-spacing: 1.5px;
        color: rgba(0, 0, 0, 0.902);
        font-weight: bold;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-size: 38px;
        margin-bottom: 10px;
    }

    .featured-works__text-merriweather{
        color: rgba(0, 0, 0, 0.62);
        text-transform: uppercase;
        font-weight: bold;
        font-family: 'Merriweather', serif;
        font-size: 18px;
        letter-spacing: 0.3px;
    }

    .image-show-featured-works{
        position: absolute; 
        width: 550px;
        height: 540px;
        z-index: 37;
        transform: translate(-280px, -750px);
    }

    .close{
        position: absolute;
        z-index: 37;
        transform: translate(-30px, -815px);
        height: 60px;
        width: 70px;
        border-radius: 10px;
    }
      
    .popup-img-container{
        z-index: 28;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

}
@media (min-width: 800px) and (max-width: 1149px) {   
    .featured-works{
        text-align: center;
        background-color: rgb(255, 255, 255);
    }

    .featured-works__wrapper {
        padding: 50px 0px;
        margin-bottom: 50px;
    }
    
    .featured-works__text-container{
        margin-top: 50px;
        position: relative;
    }      
    
    .featured-works__img-container{
        margin-top: 75px;
    }
    .popupImg{
        width: 450px;
        height: 450px;
    }

    .featured-works__text-montserrat{
        letter-spacing: 1.5px;
        color: rgba(0, 0, 0, 0.902);
        font-weight: bold;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-size: 38px;
        margin-bottom: 10px;
    }

    .featured-works__text-merriweather{
        color: rgba(0, 0, 0, 0.62);
        text-transform: uppercase;
        font-weight: bold;
        font-family: 'Merriweather', serif;
        font-size: 18px;
        letter-spacing: 0.3px;
    }

    .image-show-featured-works{
        position: absolute; 
        width: 550px;
        height: 540px;
        z-index: 37;
        transform: translate(-280px, -750px);
    }

    .close{
        position: absolute;
        z-index: 37;
        transform: translate(-30px, -815px);
        height: 60px;
        width: 70px;
        border-radius: 10px;
    }
      
    .popup-img-container{
        z-index: 28;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

}
@media (min-width: 500px) and (max-width: 799px) {   
    .featured-works{
        height: 2400px;
        text-align: center;
        background-color: rgb(255, 255, 255);
    }
    
    .featured-works__text-container{
        margin-top: 50px;
        position: relative;
        padding: 0px 40px;
    }      
    
    .featured-works__img-container{
        margin-top: 75px;
    }
    .popupImg{
        width: 450px;
        height: 450px;
    }

    .featured-works__text-montserrat{
        letter-spacing: 1.5px;
        color: rgba(0, 0, 0, 0.902);
        font-weight: bold;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-size: 38px;
        margin-bottom: 13px;
    }

    .featured-works__text-merriweather{
        color: rgba(0, 0, 0, 0.62);
        text-transform: uppercase;
        font-weight: bold;
        font-family: 'Merriweather', serif;
        font-size: 18px;
        letter-spacing: 0.3px;
    }

    .image-show-featured-works{
        position: absolute; 
        width: 550px;
        height: 540px;
        z-index: 37;
        transform: translate(-280px, -750px);
    }

    .close{
        position: absolute;
        z-index: 37;
        transform: translate(-30px, -815px);
        height: 60px;
        width: 70px;
        border-radius: 10px;
    }
      
    .popup-img-container{
        z-index: 28;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

}
@media (min-width: 375px) and (max-width: 499px){   
    .featured-works{
        text-align: center;
        background-color: rgb(255, 255, 255);
    }

    .featured-works__wrapper {
        padding: 50px 0px;
    }
    
    .featured-works__text-container{
        position: relative;
    }      

    .image-show-featured-works {
        position: absolute;
        width: 350px;
        height: 360px;
        z-index: 37;
        transform: translate(-175px, -750px);
    }
    
    .featured-works__img-container{
        margin-top: 40px;
    }
    .popupImg{
        width: 450px;
        height: 450px;
    }

    .featured-works__text-montserrat{
        color: rgba(0, 0, 0, 0.902);
        font-weight: bold;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-size: 36px;
        margin-bottom: 13px;
    }

    .featured-works__text-merriweather{
        color: rgba(0, 0, 0, 0.62);
        text-transform: uppercase;
        font-weight: bold;
        font-family: 'Merriweather', serif;
        font-size: 18px;
        letter-spacing: 0.3px;
    }

    .image-show-featured-works{
        position: absolute;
        width: 350px;
        height: 340px;
        z-index: 37;
        transform: translate(-170px, -750px);
    }

    .close{
        position: absolute;
        z-index: 37;
        transform: translate(-30px, -815px);
        height: 60px;
        width: 70px;
        border-radius: 10px;
    }
      
    .popup-img-container{
        z-index: 28;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

}
@media (min-width: 300px) and (max-width: 374px) {   
    .featured-works{
        height: 2080px;
        text-align: center;
        background-color: rgb(255, 255, 255);
    }
    
    .featured-works__text-container{
        margin-top: 50px;
        position: relative;
    }      
    
    .featured-works__img-container{
        margin-top: 75px;
    }
    .popupImg{
        width: 450px;
        height: 450px;
    }

    .featured-works__text-montserrat{
        color: rgba(0, 0, 0, 0.902);
        font-weight: bold;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-size: 36px;
        margin-bottom: 13px;
    }

    .featured-works__text-merriweather{
        color: rgba(0, 0, 0, 0.62);
        text-transform: uppercase;
        font-weight: bold;
        font-family: 'Merriweather', serif;
        font-size: 18px;
        letter-spacing: 0.3px;
    }

    .image-show-featured-works{
        position: absolute;
        width: 300px;
        height: 310px;
        z-index: 37;
        transform: translate(-140px, -750px);
    }

    .close{
        position: absolute;
        z-index: 37;
        transform: translate(-30px, -815px);
        height: 60px;
        width: 70px;
        border-radius: 10px;
    }
      
    .popup-img-container{
        z-index: 28;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }


    .popup-featured-works-img {
        width: 310px;
        height: 320;
    }
}