.footer__btn-facebook {
    background-color: rgb(138, 138, 138, 0.4);
    width: 46px;
    height: 40px;
    font-size: 1.6em;
    padding: 6px 16px;
}
  
.footer__btn{
    background-color: rgb(138, 138, 138, 0.4);
    width: 46px;
    height: 40px;
    font-size: 1.6em;
    padding: 6px 11px;
}

.footer__btn-facebook:hover {
    background-color: #74ece2;
} 

.footer__btn:hover {
    background-color: #74ece2;
} 

@media (min-width: 1150px) and (max-width: 1900px) {  
    
    footer{
        height: 315px;
        width: 100%;
        background-color: rgb(44, 47, 50);
        margin-top: -18px;
    }

    .footer_icon-container{
        display: grid;
        grid-template-columns: repeat(4, 0fr);
        justify-content: center;
        column-gap: 8px;
        margin-top: 105px;
        cursor: pointer;
    }

    .footer_text{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        transform: translate(0px, 87px);
        color: rgba(255, 255, 255, 0.8);
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        margin-top: 22px;
    }

    .contacts__input-massage{
        padding: 20px;
    }      
}
@media (min-width: 800px) and (max-width: 1149px) {  
    
    footer{
        height: 230px;
        width: 100%;
        background-color: rgb(44, 47, 50);
        margin-top: -18px;
    }

    .footer_icon-container{
        display: grid;
        grid-template-columns: repeat(4, 0fr);
        justify-content: center;
        column-gap: 8px;
        margin-top: 105px;
        cursor: pointer;
    }

    .footer_text{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        transform: translate(0px, 87px);
        color: rgba(255, 255, 255, 0.8);
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        margin-top: 22px;
    }

    .contacts__input-massage{
        padding: 20px;
    }

}
@media (min-width: 500px) and (max-width: 799px) {  
    
    footer{
        height: 180px;
        width: 100%;
        background-color: rgb(44, 47, 50);
        margin-top: -18px;
    }

    .footer_icon-container{
        display: grid;
        grid-template-columns: repeat(4, 0fr);
        justify-content: center;
        column-gap: 8px;
        margin-top: 65px;
        cursor: pointer;
    }

    .footer_text{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        transform: translate(0px, 50px);
        color: rgba(255, 255, 255, 0.8);
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        margin-top: 22px;
    }

    .contacts__input-massage{
        padding: 20px;
    }
}
@media (min-width: 300px) and (max-width: 499px)  {  
    
    footer{
        height: 180px;
        width: 100%;
        background-color: rgb(44, 47, 50);
        margin-top: -18px;
    }

    .footer_icon-container{
        display: grid;
        grid-template-columns: repeat(4, 0fr);
        justify-content: center;
        column-gap: 8px;
        margin-top: 65px;
        cursor: pointer;
    }

    .footer_text{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        transform: translate(0px, 50px);
        color: rgba(255, 255, 255, 0.8);
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        margin-top: 22px;
    }

    .contacts__input-massage{
        padding: 20px;
    }
}
  